*{
    font-family: monospace, arial;
}

body{
    margin: 0;
}

/* -------------------------------------------HEADER------------------------------------ */
.header{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7394a4;
    position: sticky;
    top: 0;
    z-index: 99;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1dvw 3dvw;
}

.logo img{
    width: 4dvw;
    height: 4dvw;
    border-radius: 50%;
}

.logo h1{
    font-size: 2dvw;
    color: white;
    cursor: default;
}

.logo img, h1{
    margin: 0 1dvw;
}

.nav-container{
    margin: 0px 30px;
}

.nav-container .popup{
    position: absolute;
}

.nav-container .arrow{
    display: flex;
    align-items: center;
    margin-right: 1dvw;
}

.nav-container .arrow .arrow-icon{
    width: 1dvw;
    margin-left: 1dvw;
    filter: invert();
}

.nav-container .outer li{
    display: inline-block;
    margin: 0 2dvw;
    position: relative;
    cursor: pointer;
}
.nav-container .inner li{
    list-style: none;
    margin: 10px 0;
    position: relative;
    cursor: pointer;
}

.nav-container .inner{
    padding: 0;
    text-align: center;
}

.nav-container .popup{
    padding: 1dvw 1.5dvw;
    background-color: #5a6a83;
    position: absolute;
    width: 80%;
    z-index: 9;
    left: -1.5dvw;
    animation: toppopup 0.5s;
    display: none;
}
.nav-container ul li::after{
    content: '';
    height: 5px;
    width: 0;
    margin: auto;
    background: #9cd54a;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.nav-container ul li:hover::after{
    width: 100%;
}

.nav-container .outer:not(:hover) > li:first-child::after{
    width: 100%;
} 

a{
    font-size: 1.5dvw;
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.menu{
    margin: 0 4dvw;
    width: 4dvw;
    height: auto;
    display: none;
}


.social-media{
    display: flex;
    align-items: center;
    margin: 0px 30px;
}

.social-media img{
    width: 20px;
    height: 20px;
    filter: invert();
    margin:0 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.social-media img:hover{
    transform: scale(1.5);
}

@keyframes toppopup {
    from{
        top: -50%;
        opacity: 0.5;
    }
    to{
        top: 100%;
        opacity: 1;
    }
}

/* -----------------------------------------HEADER-------------------------------------------- */

/* -------------------------------------------MENU tab---------------------------------------- */
.menu-tab{
    background-color: rgb(90, 106, 131, 1);
    position: absolute;
    z-index: 11;
    width: 30%;
    height: 60vh;
    right: 0;
    top: 100%;
    display: none;
    animation: slide 0.5s;
}

.menu-tab ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu-tab ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.menu-tab ul li a{
    margin: 10px 0;
    font-size: 2.5dvw;
}

.menu-tab ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #9cd54a;
    bottom: -5px;
    transition: 0.5s;
}

.menu-tab .outer li:hover::after {
    width: 50%;
}

.menu-tab .outer:not(:hover) > li:first-child::after{
    width: 50%;
}

.menu-tab .outer .popup{
    background-color: #4c5668;
    display: none;
}

.menu-tab ul li a img{
    width: 2dvw;
    height: 2dvw;
    margin-left: 5px;
}

.menu-tab .social{
    width: 100%;
    position: absolute;
    left: 0;
    top: 90%;
    display: flex;
    justify-content: space-around;
}

.menu-tab .social img{
    width: 3dvw;
    height: 3dvw;
    transition: transform 0.3s ease-in-out; 

}.menu-tab .social img:hover{
    transform: scale(1.2);
}

.menu-tab .drop{
    display: flex;
    align-items: center;
}

.menu-tab img{
    filter: invert();
}

@keyframes slide {
    from{right: -50%}
    to{right:0}
}
/* --------------------------------------------MENU tab---------------------------------------- */

/* ------------------------------------------BODY----------------------------------------------- */
.body{
    position: relative;
    padding: 7dvw 0;
    background-color: #7394a4;
    display: flex;
    align-items: end;
    justify-content: center;
}

.body h1{
    font-size: 7dvw;
    color: white;
    position: absolute;
    top: 40%;
    z-index: 9;
    animation: fadein 2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.body .tree{
    position: absolute;
    width: 25%;
    height: auto;
    left: 60%;
    bottom: -10%;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));

    animation: floatAnimation 2s infinite alternate;
}

.body .mountain{
    width: 90%;
    height: auto;
    margin: -30% 0;
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

.body .cloud{
    position: absolute;
    width: 25%;
    height: auto;
    left: 45%;
    animation: moveCloud 20s linear infinite;

}

@keyframes fadein{
    0%{
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes moveCloud {
    0%, 100%{
        transform: translateX(-100%);
    }

    50%{
        transform: translateX(50%);
    }
}

@keyframes floatAnimation{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-10px);
    }
}
/* -------------------------------------------BODY----------------------------------------------- */

/* ----------------------------------------------Blogs--------------------------------------------- */
.Adventures{
  width: 100%;
  height: 100dvw;
  padding: 15dvw 0;
  margin: 5dvw dvw;
  text-align: center;
}

.Adventures h1{
  font-size: 5dvw;
}

.Adventures .img-container{
  width: 100%;
  height: 100%;
}

.Adventures .img-container h2{
    font-size: 4dvw;
}

.Adventures .img-container .img-container1{
  height: 50%;
  margin: 5dvw 0;
  background-color: #7394a4;
  color: white;
}

.Adventures .img-container .img-container2{
  height: 50%;
  margin: 5dvw 0;
  background-color: #7394a4;
  color: white;
}

/* --------------------------------------------Blogs---------------------------------------- */

/* -------------------------------------------CONTENT1------------------------------------- */
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15dvw 3dvw;
    opacity: 0;
    transition: 1.5s;
}

.content1 .img img{
    width: 20dvw;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
    margin-right: 3dvw;
    margin-top: 1dvw;
}

.content1 .text{
    margin-left: 3dvw;
}

.text{
    cursor: default;
}

.text h1{
    text-indent: -10px;
}

.text .name{
    font-weight: lighter;
}
.text .name .myname{
    font-weight: bold;
}

.content1 .socials img{
    width: 3dvw;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.content1 .socials img:hover{
    transform: scale(1.5);
}

.text p{
    text-justify: auto;
    font-size: 2dvw;
}

/* --------------------------------------------CONTENT1-------------------------------------- */

/* -------------------------------------------copyright--------------------------------- */
.copyright{
    background-color: #7394a4;
    color: white;
    font-size: 1dvw;
    position: relative;
    display: flex;
    justify-content: center;
}

.copyright h4{
    font-size: 1.5dvw;
    cursor: default;
}

/* -------------------------------------------copyright------------------------------------ */

@media screen and (max-width : 900px) {

    .header{
        transition: 0.5s;
    }
    .logo h1{
        font-size: 3dvw;
    }
    .logo img{
        width: 5dvw;
        height: 5dvw;
    }
    .nav-container{
        display: none;
    }

    .menu{
        display: block;
    }

    .social-media{
        display: none;
    }

    .content1{
        flex-wrap: wrap;
    }

    .content1 .img{
        margin: 10dvw 0;
        margin-top: -5dvw;
    }

}