*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

/* --------------------------------------header------------------------------------ */
.header{
    top: 0%;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2D394D;
    color: white;
    z-index: 99;
}

.header .logo-img{
    display: flex;
    align-items: center;
}

.header p{
    font-size: 24px;
}


.header .logo-img img{
    border-radius: 50%;
    width: 50px;
    height: auto;
    align-items: center;
    margin: 10px 10px;
}

.dropdown-arrow{
    filter: invert();
}

.nav-container ul li a{
    cursor: pointer;
    margin: 0 20px;
    text-decoration: none;
    font-size: clamp(12px, 3vw, 18px);
}

.nav-container ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 1dvw;
    color: white;
}

.nav-container ul li::after{
    content: '';
    height: 5px;
    width: 0;
    margin: auto;
    background: #DEE6DE;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
.nav-container ul li:hover::after{
    width: 100%;
}
.nav-container #navigation:not(:hover) .active::after{
    width: 100%;
}

.dropdown-arrow{
    width: 15px;
    height: auto;
}

.nav-popup{
    text-align: center;
    position: absolute;
    list-style-type: none;
    padding: 1dvw 0;
    background-color: #4A628B;
    width: 100%;
    height: auto;
    animation: top-slide 0.5s;
    z-index: 9;
    display: none;
}

.nav-container .nav-popup li{
    margin: 6px 0;
}

.navigation-holder .user-cart img{
    width: 25px;
    height: auto;
    margin: 0 1dvw;
}

.menu-bar{
    width: 5vh;
    height: 5vh;
    padding: 30px 0;
}

/* If the navigation is not present */

@media  screen and (max-width : 1100px) {
    .navigation-holder{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        animation: slide 0.5s;
        background-color: #4A628B;
    }
    
    .navigation-holder .nav-container ul{
        padding: 0;
        text-align: center;
        
    }

    .navigation-holder .nav-container ul li{
        display: flex;
        flex-direction: column;
        margin: 3dvw 0;
    }


    .navigation-holder .nav-container .nav-popup{
        background-color: #222936;
        position: relative;
        height: 100%;
    }

    .nav-container ul li::after{
        left: 20%;
    }

    .navigation-holder .nav-container ul li:hover::after{
        width: 60%;
    }

    .nav-container #navigation:not(:hover) .active::after{
        width: 60%;
    }

    .navigation-holder .user-cart{
        padding: 3dvw 1dvw;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }

    .navigation-holder .user-cart img{
        margin: 0 3dvw;
    }

    .menu-bar{
        display: block;
    }
}


@media  screen and (min-width : 1100px) {
    .navigation-holder{
        display: block;
        align-items: center;
    }

    .menu-bar{
        display: none;
    }
}


@media screen and (max-width:500px) {
    .header p{
        font-size: 20px;
    }

    .menu-bar{
        width: 30px;
        height: 30px;
    }

    .header .logo-img img{
        width: 10dvw;
        height: 10dvw;
    }
}

@keyframes slide{
    from{right: -20%;
        opacity: 0.5;
    }
    to{right: 0;
        opacity: 1;
    }
}

@keyframes top-slide {
    from{
        top: 0%;
        opacity: 0.5;
        height: 10%;
    }
    to{
        top: 100%;
        opacity: 1;
    }
}

/* ----------------------------------------header---------------------------------------- */


/* ----------------------------------------------BODY---------------------------------------- */
.body{
    position: relative;
    background-color: #2D394D;
    height: 50dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body h1{
    font-size: 7dvw;
    color: white;
    animation: fadein 2s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: default;
}

@keyframes fadein{
    0%{
        opacity: 0;
        transform: scale(0.1);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
/* ----------------------------------------BODY--------------------------------------------- */


/* ----------------------------------THIRD BODY------------------------------------------------ */
.third-body{
    background-color: #DEE6DE;
    padding: 4dvw 4dvw;
    text-align: center;
}

.third-body h3{
    font-size: 4dvw;
}

.third-body .product-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.third-body .product-container img{
    width: 30dvw;
    height: 20dvw;
    box-shadow: 2px 2px 8px #0000009c;
}

.img-center h4{
    width: 70%;
    margin: auto;
    font-weight: 500;
    font-size: 2dvw;
}

.img-center{
    margin:5px 5px;
    text-align: center;
}
.img-center:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
    cursor: pointer;
}


/* -------------------------------------THIRD BODY----------------------------------------------- */


/* ---------------------------------------game----------------------------------------- */
#game-blog{
    display: none;
    height: auto;
    position: relative;
    background-color:#DEE6DE;
    padding: 1dvw 0;
}

#game-blog .blog-container{
    display: flex;
    height: 230dvh;
}

#game-blog .blog-container .main-blog{
    overflow-y: auto;
    position: relative;
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: justify;
}

#game-blog .blog-container .main-blog .main{
    width: 80%;
}

#game-blog .blog-container .main-blog img{
    width: 100%;
}

#game-blog .blog-container .sub-blog{
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background-color: #BDCDC5;
    width: 30%;
    text-align: justify;
    padding: 0 2dvw;
}

#game-blog .blog-container .sub-blog img{
    width: 100%;
    padding-top: 2dvw;
}

#game-blog .video-container{
    padding: 2dvw 5dvw;
    text-align: center;
}

#game-blog .video-container video{
    padding: 3dvw 0;
    width: 100%;
}
/* ---------------------------------------game----------------------------------------- */

/* ---------------------------------------travel----------------------------------------- */
#travel-blog{
    display: none;
    height: auto;
    position: relative;
}
/* ---------------------------------------travel----------------------------------------- */

/* ----------------------------------------ABOUT US--------------------------------------------- */

.about{
    background-color: #2D394D;
}

.about .title{
    color: white;
    font-size: 4dvw;
    text-align: center;
    padding-top: 3dvw;
    margin: 0;
}

.about .content1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0dvw 5dvw;
    padding: 5dvw 0;
    opacity: 0;
    position: relative;
}

.about .content1 .img img{
    width: 20dvw;
    height: auto;
    border-radius: 50%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
    margin-right: 3dvw;
    margin-top: 1dvw;
}

.about .content1 .text{
    color: white;
    margin-left: 3dvw;
}

.about .content1 .text{
    cursor: default;
}

.about .content1 .text h1{
    text-indent: -10px;
}

.about .content1 .text .name{
    font-weight: lighter;
}
.about .content1 .text .name .myname{
    font-weight: bold;
}

.about .content1 .text p{
    text-justify: auto;
    font-size: 2dvw;
}

/* ----------------------------------------ABOUT US---------------------------------------------- */

/* --------------------------------------------Contact----------------------------------- */
.contact{
    background-color: #DEE6DE;
    text-align: center;
}

.contact h1{
    font-size: 3dvw;
    display: inline-block;
    padding: 2dvw 0 5dvw 0;
}

.contact .contact-container{
    display: flex;
    justify-content: space-around;
}

.contact .contact-container h4{
    font-size: 1.5dvw;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}

.contact .contact-container h4 a{
   margin: 0;
}

.contact .contact-container .email,.phone,.social{
    display: flex;
    flex-direction: column;
}

.contact .contact-container .email h3 img,.phone h3 img,.social h3 img{
    width: 2dvw;
}

.contact .contact-container .social .img img{
    width: 2dvw;
}

.contact .contact-container h3{
    font-size: 3dvw;
}
/* ---------------------------------------------Contact------------------------------------ */

/* ------------------------------------------FOOTER--------------------------------------------- */

.footer{
    background-color:#2D394D;
}

.footer h4{
    font-size: 14px;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    color: white;
}

/* -------------------------------------------FOOTER------------------------------------------- */

@media screen and (max-width:600px) {

    .navigation-holder .nav-container ul li a{
        font-size: 16px;
    }

    .body h1{
        font-size: 36px;
    }

    .third-body h3{
        font-size: 22px;
    }

    .third-body h4{
        font-size: 16px;
    }

    .about .title{
        font-size: 24px;
    }

    .about .content1 .text p{
        font-size: 14px;
    }

    .contact h1{
        font-size: 18px;
    }

    .contact .contact-container h3{
        font-size: 12px;
    }

    .contact .contact-container h4{
        font-size: 12px;
    }

    .contact .contact-container .email h3 img,.phone h3 img,.social h3 img{
        width: 12px;
    }

    .contact .contact-container .social .img img{
        width: 12px;
    }

    .footer h4{
        font-size: 10px;
    }

}
